:root{
    /* colors, accent-color */

    ---primary-bg-color:#000000c3;
    ---secondary-bg-color:#1f1f1f;
    ---sec-mutual-color:black;

    ---font-color:white;
    ---font-alt-color:#333;
    ---font-mutual-color:rgb(33, 66, 251);
    ---btn-accent-color:linear-gradient(150deg, blue, rgb(0, 183, 255));


    /* font size, font weight */

    ---fs-100:1em;
    ---fs-200:1.5em;
    ---fs-300:1.9em;
    ---fs-400:2.5em;
    ---fs-500:3em;
    ---fs-600:calc(5em - 2em);

    ---fw-100:500;
    ---fw-200:600;
    ---fw-300:700;
    ---fw-400:800;


    /* padding size, margin size */

    ---padding-100:.3em;
    ---padding-200:.7em;
    ---padding-300:.9em;
    ---gn-padding:.5em 2em;

    ---margin-100:.3em;
    ---margin-200:.5em;
    ---margin-300:1em;
    ---margin-500:1.5em;
    ---margin-600:2em;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
   background-color: var(---font-alt-color);
}

/* --utility classes-- */
.gen-container{
max-width: 1224px;
margin: 0 auto;
}


/* -----------------primary-navigation-------------------- */

.primary-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all .3s linear;
}
.sticky{
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px #333;
    display: flex;
    justify-content: space-between;
    background: var(---secondary-bg-color);
    width: 100%;
    z-index: 100000;
    transition: all .3s linear;
}

.brand-title{
    font-size: var(---fs-200);
    font-weight:var(---fw-300);
    padding: var(---padding-100);
}
.primary-nav .nav{
    margin-top: var(---margin-300);
}



.primary-nav ul li{
    height: fit-content;
    display: inline-block;
    list-style-type: none;
    font-size: var(---fs-100);

}
.primary-nav ul li:hover{

    color:var(---font-color);
}
a{
    text-decoration: none;
    height: 100%;
    margin: var(---margin-100);
    text-transform: capitalize;
    transition: all ease-in-out .3s;
    color:var(---font-color);
    transition: all .3s ease;
}
a:hover{
    color:var(---font-mutual-color);
}

.primary-btn{
    font-size: var(---fs-100);
    font-weight: var(---fw-100);
    padding:var(---padding-300) var(---padding-200);
    width: fit-content;
    margin: var(---margin-200);
    background: var(---btn-accent-color);
    color: var(---font-color);
    border: none;
    border-radius: 3px;
    outline: none;
    text-transform: capitalize;
    transition: all ease-in-out .3s;
    display: inline-block;
}
.sign{
    margin-right: 1em;
    padding: .7em 1.5em;
}
#menu{
    margin: .5em;
    display: none;
    opacity: 0;
    transition: all .4s;
}

/* ---------------media-query-for-primary-navigation---------------------- */

@media (max-width: 768px) {
    #menu{
        display: block;
        transition: all ease-in-out .5s;
        opacity: 1;
    }

   .nav, .primary-nav button{
        display: none;
        height: 0;
    }
    .nav a{
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 3px;
        padding: .5em;
        transition: all ease-in-out .5s;
    }
    .nav a:hover{

        box-shadow: 1px 2px 3px #3c3c3c7c;
        background:var(---btn-accent-color);
        color: var(---font-color);
        font-weight: var(---fw-300);
        transition: all ease-in-out .3s;

    }

    .active{
        transition: all ease-in-out .5s;
        position: absolute;
        padding: 1em;
        inset: 0;
        width: 50%;
        height: fit-content;

        display: flex;
        flex-direction: column;

        background-color: rgba(108, 108, 108, 0.772);
        margin:0 auto;
        border-radius: 3px;
        box-shadow: 1 2 5px rgba(0, 0, 0, 0.88);

        z-index: 10;
        backdrop-filter: blur(3px);
        border: .2px white solid;
    }



}
@media (max-width: 480px) {
    .active{
    width: 65%;
    }
}
.naked{
    margin-top: 2em;
    background: #a3969600;
    outline: white solid 1px;
    transition: .3s;
}

.primary-btn:hover{
    background: #a3969600;
    outline: white solid 1px;
}
.naked:hover{
    background:var(---btn-accent-color);
    outline: none;
}

/* --------------------------header-secton------------------------- */

header{
    height: 100svh;
    background: url(asset/istockphoto-1201166649-612x612.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;

}
header::before{
    content: '';
    background: var(---primary-bg-color);
    max-width: 100%;
    height: inherit;
    position: absolute;
    inset: 0;
}

.header-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(---font-color);
}

.header-content p{
    font-size: var(---fs-100);
    text-transform:capitalize ;
}
.header-content h1{
    font-size: var(---fs-600);
    text-transform: capitalize;
    color:var(---font-color);

}
/* --------------------------services-secton------------------------- */


.count-section{
    color: var(---font-color);
    padding: 1em auto;
}


.count-section ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
    width: 90%;
    margin: auto;

}
.count-section li{
    margin: 2em .5em;
    flex: 1;
}

.count-section  h2{
    font-size: var(---fs-200);
    text-transform: capitalize;
    margin:  var(---margin-200) 0;
}

.count-section p{
    font-size: 1.5ch;
    line-height: 1.8em;
    margin: auto;
}
.count-section a{
    font-size: var(---fs-100);
    display: block;
    margin: .5em 0;
    font-weight:var(---fw-200);
}



@media (max-width: 768px) {
    .count-section ul{
        flex-wrap: wrap;
        flex-direction: column;

    }
    .count-section li{
        margin: .5em 1em;
        padding: .5em;
    }


}


/* --------------------------grid-box-secton------------------------- */


.archivement-box {
    background:var(---sec-mutual-color);
    margin: auto;
}


.archivement-box ul{

    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(---font-color);
    transform: translateY(-25%);

}
sup{
    font-weight: 300;
}
.archivement-box li{
    ---padding-400:1.5em;
    list-style-type: none;
    text-align: center;
    margin: .3em;
    border-radius: 3px;
    padding: var(---padding-400);
    background:var(---btn-accent-color);
    flex:1;

}
.archivement-box p{
    font-size: 1.4ch;
    text-transform: capitalize;
    line-break: auto;
}
@media (max-width: 768px) {
    .archivement-box ul{
       display: grid;
       grid-template-columns: 1fr 1fr;
       width: 60%;
       margin-top: 10%;

    }
  }
@media (max-width: 480px) {
    .archivement-box ul{
      transform:translateY(-10%);

    }
  }


/* --------------------------introduction-section------------------------------ */

  .introduction-sect{
    display: flex;
    align-items: center;
    color: var(---font-color);
    padding: var(---padding-300) 0;
    width: 90%;
    margin: auto;
    height: 100vh;

  }
.introduction-sect div{
    padding: var(---gn-padding) 0;
    flex: 1;
}
.sup-heading{
    text-transform: capitalize;
    color: var(---font-mutual-color);
    font-size: 1.5ch;
    font-weight: var(---fw-200);

}
.introduction-sect h2{
    padding:var(---padding-100) 0;
    text-transform: capitalize;
    font-size:var(---fs-300);
}
.introduction-sect h4{
    padding: var(---padding-100) 0;
    font-weight: var(---fw-200);

  }
.main-intro-content{
    padding: var(---padding-100) ;
    font-size: 1.6ch;
    line-height: 1.7em;
    width: fit-content;

}
.introduction-sect button{

    color: var(---font-mutual-color);
    outline: 1px solid rgba(255, 255, 255, 0.248);
    outline-offset: 1em;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(---font-color);
    display: inline;
    border: none;
    margin: 1em 1em 3em .5em;

  }
  .sub-content{
    display: inline;
    text-transform: capitalize;
    font-size: 1.5ch;
    font-weight: var(---fw-200);
  }

  .introduction-sect img{
    padding: 1em;
    object-fit: cover;
    display: block;
    width: 90%;
    transform: translateY(-10%);
  }

  @media (max-width: 808px) {
    .introduction-sect{
        display: flex;
        flex-direction: column;
        background:var(---sec-mutual-color);
        color: var(---font-color);
        padding: var(---padding-300) 0;

      }
      .introduction-sect img{
        width: 100%;
        margin: 0 auto;
    }

  }

/* --------------------------img-card-section-------------------------- */
.card-section-container{
    position: relative;
    margin-bottom: 5em;
}
.card-section{
    display: flex;
    padding: var(---padding-200);
    position:relative;
    justify-content: center;
    width: 90%;
    height: auto;
    isolation: isolate;
    margin:15em auto;

}
.card{
    color: var(---font-color);
    width: 250px;
    height:250px;
    margin: .5em;
    border-radius: 3px;
    position: absolute;
    inset: 0;
    isolation: isolate;
    z-index: 1;

}
.img-cnt{

    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 3px;
}
.card-section img{
   width: 100%;
   object-fit: cover;
   height: 100%;
   border-radius: 3px;
}
.card-section button{
    width: 40px;
    height: 40px;
    background: none;
    outline: 1px solid var(---font-color);
    border-radius: 50%;
    border: none;
    color: var(---font-color);
    position: absolute;
    top: 78%;
    transform: translateX(20px);
    z-index: 1;
}
.card h4{
    z-index: 1;
    font-size: 2ch;
    top: 1.5em;
    position: fixed;
    transition: .3s;
    text-transform: capitalize;
    padding: 0 .5em;
}
.hide{
    padding:var(---padding-300);
    font-size: 1.2ch;
    line-height: 1.2em;
    transform: translateY(5%);
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    height: 250px;
    }

.show{
    position:absolute;
    background:var(---btn-accent-color);
    inset: 0;
    transition: all .5s;
    height: 0;
    opacity: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 4;

}
.card:hover .show{
    display: block;
    border-radius: 3px;
    opacity: 1;
    height:100%;
}

.card:hover button{
    background-color: var(---font-color);
    color:var(---font-mutual-color);
}
.card:hover h4{
      display: none;
    }
/* .stamps{
margin :17em 0;
margin-bottom: 5em;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
outline: none;
border: none;
}
.stamps img{
    width: 100px;
    height: 100px;
    margin: 1em;

} */

@media (max-width: 808px) {

    /* .stamps{
        margin-top: 5em;
    } */

    .card-section{
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 250px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        isolation: isolate;

    }

    .card{
        color: var(---font-color);
        width: 55%;
        height:100%;
        border-radius: 3px;
        position: relative;
        isolation: isolate;
        margin-top: 1em;
        transform: translateY(-50px);

    }

  }
@media (max-width: 600px) {
    .card{
        width: 75%;
        margin-top: 1em;
    }
    .card-section{

        height: auto;
        flex-direction: column;
    }
    .card-section button{
    top: 65%;
   }
}
.award-sect-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5em auto;
}
.award-section{
    text-align: center;
    color: var(---font-color);

}

.award-section h2{
    font-size: var(---fs-400);
    text-transform: capitalize;
}
p .sub-title{
    color: var(---font-color);
    line-height: 1.5em;
    font-size: 1.8ch;
}

.grid-content{
    margin: 2em;
}

.grid-content > div{
margin: var(---margin-100);
padding: var(---padding-200) 0;
width: 100%;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid #535252a9;
border-top: 1px solid #535252a9;
}

.grid-content > div > h4{
font-weight: var(---fw-200);
font-size: var(---fs-100);
color: var(---font-color);
text-align: left;
padding: var(---padding-100);
text-transform: capitalize;
}

.grid-content p{
    font-size: 1.5ch;
    color: var(---font-color);
    text-align: left;
    padding: var(---padding-100);
    margin: var(---margin-200);
    line-height: 1.5em;

}

@media (max-width: 808px) {
    .grid-content > div{
        margin: var(---margin-100);
        padding: var(---padding-200);
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

  }
@media (max-width: 600px) {
    .grid-content > div{
        margin: auto;
        padding: var(---padding-100);

        }
        .award-section h2{
            font-size: var(---fs-300);
            text-transform: capitalize;
        }
        .award-section{
            padding: 2em;
            text-align: center;
            color: var(---font-color);

        }
}

.cta-section{
    height: 60vh;
    color: var(---font-color);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(asset/Shadows.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cta-section > div{
padding: var(---padding-100);
}
.cta-content{
    padding: var(---padding-100);
    text-transform: capitalize;
    font-size: 1.8ch;
}
.cta-section  > div > h1{
    font-weight: var(---fw-400);
    font-size: var(---fs-600);
    padding-bottom: var(---padding-00);
    text-transform: capitalize;
}
.cta-section > div > button{

    transition: all .3s;
}


footer{
    height: fit-content;
    background: var(---secondary-bg-color);
    padding: 0;
    margin: 0;
}

.col{

    display:flex;
    flex-wrap: wrap;
    width: 90%;
    margin:auto;
    justify-content:space-between;
}
.f-title{
    width: 25%;
}

.links{
    padding-top: 1em;
    color: var(---font-color);
    height: 100%;
}

.links h2{
    padding-bottom:.5em;
    font-size: var(---fs-300);
}
.links p{
    font-size: 1.5ch;
    line-height: 1.5em;
    padding: .1em;
    text-transform: capitalize;
}
.social-icons{
    display: flex;
}
.social-icons img{
    width: 50px;
}

.links h3{
    text-transform: capitalize;
    font-size: var(---fw-300);
    font-size: var(---fs-200);
    margin-bottom: .5em;
}
.footer-content{
    text-transform: capitalize;
    font-size:1.8;
    padding: 1em;
    text-align:left;
}

.links a{
    display:block;
    font-size: 1.5ch;

}
.news-content{
    display:flex;
}
.news-content div{
    margin: .2em;
}
.news-content img {
    display: block;
}
.news-content div b {
     text-transform: capitalize;
    font-size: 1.5ch;
    display: block;
}
.news-content div p {
    text-transform: capitalize;
    font-size: 1.2ch;
    margin-bottom: 1em;
}
.footer{
    background-color: black;
}
.footer-right{
    display: flex;
    padding:.5em 0;
    color: var(---font-color);
    font-size: 1.5ch;
    justify-content: space-between;
    width: 90%;
    margin: auto;


}



@media (max-width: 860px) {
    .col{

        display: flex;
        width: 95%;
        margin: 1em auto;
        justify-content: center;
        padding: 0 1em;
    }

    .links{
        margin: 1em;
        color: var(---font-color);
        height: 100%;
        text-align: left;
     
    }

}


@media (max-width: 680px) {
    .col{

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 1em auto;
        justify-content: center;
    }
    .f-title{
        width: 50%;
    }

    .links{
        margin: 1em;
        color: var(---font-color);
        height: 100%;
        text-align: center;
    }
    .footer-content{
        text-transform: capitalize;
        font-size:1.8ch;
        text-align: center;

    }
    .footer-right{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: .5em;
        background-color: black;
        color: var(---font-color);
        font-size: 1.5ch;
        text-transform: capitalize;
        text-align: center;
    }

}




